/* Global properties */
* {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; outline:none;}
body {background:url(../images/bgd_body.gif) 0 0 repeat-x; font-size:12px; color:#000000; text-align:center;}
h1 {font-size:24px; color:#000; float:left}
h2 {font-size:28px; color:#48443b; padding:0 0 10px 0; text-transform:uppercase;}
h3 {font-size:14px; color:#981136; font-family:Tahoma, Arial, Verdana; border-bottom:2px solid #adcfbe; padding:0 0 5px 0; margin:0 0 5px 0;}
h4 {font-size:12px; color:#000000;}
h4 span {color:#000000}
h5 {font-size:12px; color:#000000;}
p {line-height:18px; vertical-align:middle; padding:3px 0;}
a {color:#5c5c5c; text-decoration:none;}
a:hover {color:#5c5c5c; text-decoration:underline;}
input {font-size:12px; color:#333333; vertical-align:middle; border:1px solid #7f9db9; padding:2px;}
select {font-size:12px; color:#333333; vertical-align:middle; border:1px solid #7f9db9}
textarea {font-size:12px; color:#333333; vertical-align:middle; border:1px solid #7f9db9}
label {vertical-align:middle}
fieldset {border:2px solid #ADCFBE; padding:10px;}
img {border:0 none;}
li {list-style:none}
/******************************************************************************************************************/
/* Basic classes */
.clear {clear:both; height:0; line-height:0; font-size:0;}
.hide {display:none;}
.invisible {visibility:hidden;}

/******************************************************************************************************************/
/* Basic IDs */
#cont {width:100%; background:url(../images/bgd_cont_bottom.gif) 0 bottom repeat-x;}
#container {width:1124px; margin:0 auto; text-align:left; overflow:hidden;}

/* Header */
#header {height:66px; overflow:hidden; padding:10px 0 30px 0; clear:both; position:relative;}
#lev1 {float:right;}
#lev1 li {display:inline; padding:10px;}
#lev1 li img {vertical-align:middle}
#lev1 a {color:#fff; padding:0 5px; text-decoration:none;}
#lev1 a:hover {text-decoration:underline;}

#lev2 {background:#58b2cc; width:230px; float:left; margin:0 13px 0 0;}
#lev2 ul {width:210px; margin:0 10px;}
#lev2 li {background:url(../images/bgd_li_lev2.gif) 0 bottom repeat-x; padding:8px 0;}
#lev2 li a {color:#FFFFFF; text-decoration:none;}
#lev2 li a:hover {text-decoration:underline;}

.lev3 {position:absolute; left:112px; top:51px;}
.lev3 .lev1Menu {margin:0 0 15px 0; font-size:12px;}
.lev3 .lev1Menu .active {background:#58b2ca;}
.lev3 .lev2Menu {font-size:11px;}
.lev3 li {display:inline; padding:2px;}
.lev3 a {color:#fff;}

.lev4 {float:right; margin:0 0 10px 0;}
.lev4 li {display:inline; width:54px; text-align:center; float:left; margin: 0 20px;}
.lev4 li img {display:block; margin:0 auto;}

/* Content */
#content {background:#ffffff; width:1024px; padding:0 0 20px 0; overflow:hidden; display:block; clear:both;}
#main {width:1024px; overflow:hidden; float:left; padding:10px 0 20px 0;}

.tblAdminDetail {background:#d0ccc9;}
.tblAdminDetail th {background:#f0f0f0; text-align:left; padding:3px 5px ; font-weight: normal;}
.tblAdminDetail td {background:#FFFFFF; text-align:left; padding:3px 5px;word-wrap: break-word;}
.tblAdminDetail .col2 {text-align:left}

.groupManager {width:358px; float:left; margin:0 10px 0 0;}
.groupManager div {width:350px; border:1px solid #d0ccc9; padding:8px 0 8px 8px; overflow:hidden; clear:both;}
.groupManager li {text-align:center; width:88px; border:1px solid #f0f0f0; height:75px; padding:10px; float:left; margin:0 5px 5px 0;}
.groupManager li img {display:block; margin:0 auto;}
.groupManager li.first {clear:left;}

.groupManager02 {width:486px; float:left; margin:0 10px 0 0;}
.groupManager02 div {width:476px; border:1px solid #d0ccc9; padding:8px 0 8px 8px; overflow:hidden; clear:both;}
.groupManager02 li {text-align:center; width:91px; border:1px solid #f0f0f0; height:79px; padding:10px; float:left; margin:0 5px 5px 0;}
.groupManager02 li img {display:block; margin:0 auto;}
.groupManager02 li.first {clear:left;}

.highlight {background: url(../images/bgd_h2_line.gif) 0 bottom  repeat-x; width:100%; overflow:hidden; padding:0 0 10px 0; margin:0 0 20px 0;}

/* tab content */
#proTab {width:354px; overflow:hidden; float:left}
#proTab02 {width:470px; overflow:hidden; float:left}

#themePar {width:350; overflow:hidden; float:right; margin:26px 0 5px 0;}
#themePar li {float:left; text-align:center; margin:0 4px 0 0; font-size:12px;}
#themePar li a {color:#484439; text-decoration:none;}
#themePar span {}
.tabHide {display: none !important;}

#themePar .tab01 a {background:#d9d8d6; padding:0 10px;}
#themePar .tab02 a {background:#d9d8d6; padding:0 10px;}
#themePar .tab03 a {background:#d9d8d6; padding:0 10px;}
#themePar .tab01 a.active {background:#9b9692;}
#themePar .tab02 a.active {background:#9b9692;}
#themePar .tab03 a.active {background:#9b9692;}

.proInfo {width:352px; overflow:hidden; border:1px solid #d0ccc9;}
.proInfo02 {width:468px; overflow:hidden; border:1px solid #d0ccc9;}
.tblInfoTab {}
.tblInfoTab td {padding:5px;}
.tblInfoTab th {padding:5px;}
.tblInfoTab .col3{text-align:center}

/* frmLogin */
.frmLogin {background:url(../images/bgd_top_login.gif) 0 0 no-repeat; width:500px; padding:20px 0 20px 0; margin:110px 0 130px 240px; border-bottom:1px solid #d0ccc9;}
.frmLogin h2 {margin: 0 0 20px 0;}
.frmLogin .btnSignIn {background:url(../images/btn_Signin.gif) 0 0 no-repeat; width:74px; height:22px; border:0 none; vertical-align:middle; margin-top:0px; cursor:pointer;}
.frmLogin p {width:295px; overflow:hidden; margin:0 auto}
.frmLogin p label {width:75px; float:left; vertical-align:middle}
.frmLogin p input {width:120px; float:left; margin:0 8px 0 0; vertical-align:middle}
.frmLogin p a {margin:0 0 0 75px; color:#0033cc; text-decoration:underline}
.frmLogin p a:hover {text-decoration:none;}

.frmLogin1{0 0 no-repeat; width:500px; padding:20px 0 20px 0; margin:110px 0 130px 240px; border:1px solid #d0ccc9;}
.frmLogin1 h2 {margin: 0 0 20px 0;}
.frmLogin1 .btnSignIn {background:url(../images/btn_Signin.gif) 0 0 no-repeat; width:74px; height:22px; border:0 none; vertical-align:middle; margin-top:0px; cursor:pointer;}
.frmLogin1 p {width:295px; overflow:hidden; margin:0 auto}
.frmLogin1 p label {width:75px; float:left; vertical-align:middle}

.frmLogin1 p a {margin:0 0 0 75px; color:#0033cc; text-decoration:underline}
.frmLogin1 p a:hover {text-decoration:none;}

/* Footer */
#footer {width:996px; height:160px; padding:10px 0 0 0;}
#footer ul {height:37px; text-align:center}
#footer li {display:inline}
#footer a {background:url(../images/bgd_li_footer.gif) right 2px no-repeat; padding:0 5px; color:#000000}
#footer a {padding:0 5px; color:#000000}
#footer a.last {background:0 none;}
#footer a:hover {color:#000000;}

.submenu {
	position: absolute;
	top: 30px;
	left: 20px;
}	

.hide {
	display: none;
}

#pagination{
	margin:10px 0px 0px 800px;
	color:#919191;
	font-size:11px;
}



#pagination a{
    color:#000000;
}

#pagination a:hover{
    color:#FF0000;
}

#pagination .active {color:#FF9900; font-weight: bold; }
.active {color:#FF9900; font-weight: bold; }


.color-red{
	color:red;
}

.color-gray{
	color:#4c4c4c;
}

.color-blue{
	color:blue;
}


#items {
	list-style: none;
}

#items div{
	display: block;
	padding: 5px 5px; margin-bottom: 3px;
	background-color: #efefef;
}

#items div img.handle {
	margin-right: 20px;
	margin-left: 10px;
	cursor: move;
}

.title{
	margin-right:20px;
	margin-left: 5px;
	width:250px;
	display: inline-block;
}
.desc{
	margin-right:10px;
	margin-left: 5px;
	width:150px;
	display: inline-block;
}
.action{
	margin-right:10px;
	margin-left: 5px;
	width: 80px;
	display: inline-block;
}
.date{
	margin-right:5px;
	margin-left: 5px;
	width: 100px;
	display: inline-block;
}
.num{
	margin-right:10px;
	margin-left: 5px;
	width: 70px;
	display: inline-block;
}

.status{
	margin-right:20px;
	margin-left: 5px;
	width: 60px;
	display: inline-block;
}

.bold{
	font-weight:bold;
}
.th_title{
	background-color:#00BFFF;
	display:block;
	padding:5px; 
	color:#fff; 
	font-weight:bold;
}

.menu-picture{

font-size: 16px;
}

.spinner
{
    display: none;
    position: fixed;
    margin-left: -30px;
}

.contentImage img{max-width: 150px;}


.trending-hashtag{
    margin-left:350px; 
    border: solid 1px #d0ccc9; padding: 5px;
    cursor: pointer;
}

.openlink{
    cursor: pointer;
}

.conversation{
    width: 300px;
    border: solid 1px #9b9692;
    float: left;
    max-height: 500px;
    overflow: scroll;
}

.user{
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    
}
.user_watch_list{
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    
}

.conversation .user:hover {
   background-color: #adcfbe;
}

.conversation .user_watch_list:hover{
   background-color: #adcfbe;
}

.detail{
    width: 700px;
    border: solid 1px #9b9692;
    float: right;
    max-height: 400px;
    overflow: scroll;
}

.msgs{
    padding: 10px;
}

.msgs .msg{
   padding: 5px;
}

.msgs .username{
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.msgs .time{
    
    float: right;
}
.btn_loading{
    cursor: pointer;
}

.select_active{
    background-color:   #58b2cc;
}

.btn_add_watch_list{
    border: solid 1px #4c4c4c;
    padding: 5px;
    background: #9b9692;
    cursor: pointer;
}

.play_video{
    height: 200px;
    width: 100%;
}
