#main_wrap{
	overflow : hidden;
}
#sidebar_wrap{
	background: #fff ;
	color: #008;
    float : left;
    width:30%;
}
ul#toc {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul#toc li {
    margin: 1px 0  0 0;
}

ul#toc a {
    background: #bdf ;
    color: #008;
    display: block;
    padding-left: 1px;
    text-decoration: none;
}

ul#toc a:hover {
    background-color: #3af;
    background-position: 0 -120px;
}

ul#toc a:hover span {
    background-position: 100% -120px;
}

ul#toc li.current a {
    background-color: #48f;
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
}

ul#toc li.current span {
    background-position: 100% -60px;
}

ul#toc span {
    background: url(tabs.gif) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

#content_wrap {
	background-color: #fff;
	color: #008;
    float : right;
    width : 70%;
}
.clear {clear:both;}

.scroll {
    width: 400px;
    height: 500px;
    overflow: scroll;
}