<span style='color: #000'>142 frames</span>	<span style='color: #900'>17,920 KB</span>	<span style='color: #090'>3,483.72 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />