@font-face {
    font-family: 'allerlight';
    src: url('../fonts/aller_std_lt-webfont.eot');
    src: url('../fonts/aller_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_lt-webfont.woff') format('woff'),
         url('../fonts/aller_std_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_std_rg-webfont.eot');
    src: url('../fonts/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_rg-webfont.woff') format('woff'),
         url('../fonts/aller_std_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{margin:0;padding:0;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;line-height:0;}

.anomo-match{width:640px;height:960px;background:url(../img/bg.jpg);background-size:cover;color:#ffffff;}
.section-profile{background:url(../img/bg_header.jpg) no-repeat left top;background-size:contain;padding:0 30px;}
.section-profile .header{height:125px;margin-bottom:5px;}
.section-profile .table-profile{width:100%;}
.section-profile .table-profile td{vertical-align:middle;font-size:24px;line-height:28px;font-family: 'allerlight', sans-serif;color:#ffffff;}
.section-profile .avatar{display:block;width:140px;height:140px;background:center center no-repeat;overflow:hidden;}
.section-profile h3{margin:0 0 5px;font-size:30px;line-height:34px;font-family: 'allerregular', sans-serif;}
.section-profile .table-profile-info td{vertical-align:top;}
.section-profile .age{}
.section-profile address{display:list-item;margin-left:20px;font-style:normal;}

.section-category{padding:35px 30px;}
.section-category .header{}
.section-category .header h2{font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;margin:0 0 25px;}
.section-category .category-list{}
.section-category .category-item{text-decoration:none;}
.section-category span{height:40px;padding:4px 0;font-size:24px;line-height:50px;font-family: 'allerregular', sans-serif;color:#ffffff;}
.section-category .corner-left{padding-left:20px;background:url(../img/corner_blue_20_left.png) left top no-repeat;}
.section-category .corner-center{background:url(../img/bg_blue.jpg);}
.section-category .corner-right{padding-right:20px;background:url(../img/corner_blue_20_right.png) right top no-repeat;}

.section-feedback{padding:0 30px;}
.section-feedback .header{}
.section-feedback .header h2{font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;margin:0 0 30px;}
.section-feedback .feedback-list{}
.section-feedback .feedback-item{margin-bottom:25px;}
.section-feedback .feedback-item table{max-width:80%;}
.section-feedback .feedback-item td{font-size:24px;line-height:28px;font-family: 'allerlight', sans-serif;color:#ffffff;}
.section-feedback .feedback-item .corner{width:20px;height:20px;background-repeat:no-repeat;background-size:contain;}

.section-feedback .feedback-i td{background:url(../img/bg_blue.jpg);}
.section-feedback .feedback-i .corner-top-left{background-image:url(../img/corner_blue_40_top_left.png);}
.section-feedback .feedback-i .corner-top-right{background-image:url(../img/corner_blue_40_top_right.png);}
.section-feedback .feedback-i .corner-bottom-left{background-image:url(../img/corner_blue_40_bottom_left.png);}
.section-feedback .feedback-i .corner-bottom-right{background-image:url(../img/corner_blue_40_bottom_right.png);}

.section-feedback .feedback-u td{background:url(../img/bg_pink.jpg);text-align:left;}
.section-feedback .feedback-u .corner-top-left{background-image:url(../img/corner_pink_40_top_left.png);}
.section-feedback .feedback-u .corner-top-right{background-image:url(../img/corner_pink_40_top_right.png);}
.section-feedback .feedback-u .corner-bottom-left{background-image:url(../img/corner_pink_40_bottom_left.png);}
.section-feedback .feedback-u .corner-bottom-right{background-image:url(../img/corner_pink_40_bottom_right.png);}

