@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-webfont.eot');
    src: url('../fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff'),
         url('../fonts/pacifico-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerlight';
    src: url('../fonts/aller_std_lt-webfont.eot');
    src: url('../fonts/aller_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_lt-webfont.woff') format('woff'),
         url('../fonts/aller_std_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_std_rg-webfont.eot');
    src: url('../fonts/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_rg-webfont.woff') format('woff'),
         url('../fonts/aller_std_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;line-height:0;}

.table-css{display:table;}
.table-row{display:table-row;}
.table-cell{display:table-cell;}

body{margin:0;padding:0;}

.anomo-match{width:640px;background:url(../img/bg.jpg);background-size:cover;/*min-height:960px;*/color:#ffffff;font-size:34px;line-height:38px;font-family: 'allerlight', sans-serif;}
.bg-header{background:url(../img/bg_header.jpg) no-repeat left top;background-size:contain;padding:50px 0;}
.section-profile{padding:0 30px;}
.section-profile header{display:block;margin-bottom:32px;font-family:'pacificoregular', cursive;font-size:50px;line-height:54px;text-align:center;}
.section-profile .talbe-css{width:100%;}
.section-profile .table-cell{font-size:28px;line-height:32px;vertical-align:middle;}
.section-profile .table-cell:first-child{width:155px;}
.section-profile .avatar{width:140px;height:140px;background:center center no-repeat;border:3px solid #ffffff;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;overflow:hidden;}
.section-profile h3{margin:0 0 5px;font-size:30px;line-height:34px;font-family: 'allerregular', sans-serif;}
.section-profile p{margin:0;}
.section-profile .age{float:left;}
.section-profile address{float:left;display:list-item;margin-left:40px;font-style:normal;}

.section-category{padding:35px 30px;}
.section-category header{}
.section-category header h2{margin:0 0 25px;font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;}
.section-category .category-list{max-height: 112px;overflow: hidden;}
.section-category  .category-item{display:inline-block;background:url(../img/bg_blue.jpg);padding:0 20px;margin-bottom:15px;color:#ffffff;text-decoration:none;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;font-size:24px;line-height:40px;}

.section-feedback{padding:0 30px;}
.section-feedback header{}
.section-feedback header h2{margin:0 0 30px;font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;}
.section-feedback .feedback-list{}
.section-feedback .feedback-item{max-width:80%;margin-bottom:25px;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;}
.section-feedback .feedback-i{float:left;background:url(../img/bg_blue.jpg);}
.section-feedback .feedback-u{float:right;background:url(../img/bg_pink.jpg);}
.section-feedback .feedback-content{padding:20px;font-size:34px;line-height:38px;}