* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-webfont.eot');
    src: url('../fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff'),
         url('../fonts/pacifico-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerlight';
    src: url('../fonts/aller_std_lt-webfont.eot');
    src: url('../fonts/aller_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_lt-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_lt-webfont.woff') format('woff'),
         url('../fonts/aller_std_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller_std_rg-webfont.eot');
    src: url('../fonts/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_std_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_std_rg-webfont.woff') format('woff'),
         url('../fonts/aller_std_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;line-height:0;}

.table-css{display:table;}
.table-row{display:table-row;}
.table-cell{display:table-cell;}


.anomo-match{width:640px;height:960px;background:url(../img/bg.jpg);background-size:cover;/*min-height:960px;*/color:#ffffff;font-size:34px;line-height:38px;font-family: 'allerlight', sans-serif;overflow: hidden;}
.bg-header{background:url(../img/bg_header.jpg) no-repeat left top;background-size:contain;padding:50px 0;}
.section-profile{padding:0 30px;}
.section-profile header{display:block;margin-bottom:32px;font-family:'pacificoregular', cursive;font-size:50px;line-height:54px;text-align:center;}
.section-profile .table-profile{width:100%;}
.section-profile .table-profile .table-cell{font-size:28px;line-height:32px;vertical-align:middle;}
.section-profile .table-profile .table-cell:first-child{width:155px;}
.section-profile .avatar{width:140px;height:140px;background:center center no-repeat;border:3px solid #ffffff;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;overflow:hidden;}
.section-profile h3{margin:0 0 5px;font-size:30px;line-height:34px;font-family: 'allerregular', sans-serif;}
.section-profile .table-profile-info .table-cell{vertical-align:top;}
.section-profile .table-profile-info .table-cell:first-child{width:35px;}
.section-profile .age{}
.section-profile address{display:list-item;margin-left:40px;font-style:normal;}

.section-category{padding:35px 30px;}
.section-category header{}
.section-category header h2{margin:0 0 25px;font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;}
.section-category .category-list{}
.section-category .category-item{display:inline-block;margin-bottom:15px;color:#ffffff;text-decoration:none;font-size:24px;line-height:40px;}
.section-category span{display:inline-block;}
.section-category .corner-left{padding-left:20px;background:url(../img/corner_blue_20_left.png) left top no-repeat;}
.section-category .corner-center{background:url(../img/bg_blue.jpg);}
.section-category .corner-right{padding-right:20px;background:url(../img/corner_blue_20_right.png) right top no-repeat;}

.section-feedback{padding:0 30px;}
.section-feedback header{}
.section-feedback header h2{margin:0 0 30px;font-size:34px;line-height:38px;font-family: 'allerregular', sans-serif;}
.section-feedback .feedback-list{}
.section-feedback .feedback-item{margin-bottom:25px;font-size:34px;line-height:38px;}
.section-feedback .feedback-item .table-css{max-width:80%;}
.section-feedback .feedback-item .corner{width:40px;height:40px;background-repeat:no-repeat;}

.section-feedback .feedback-i .table-cell{background:url(../img/bg_blue.jpg);}
.section-feedback .feedback-i .corner-top-left{background-image:url(../img/corner_blue_40_top_left.png);}
.section-feedback .feedback-i .corner-top-right{background-image:url(../img/corner_blue_40_top_right.png);}
.section-feedback .feedback-i .corner-bottom-left{background-image:url(../img/corner_blue_40_bottom_left.png);}
.section-feedback .feedback-i .corner-bottom-right{background-image:url(../img/corner_blue_40_bottom_right.png);}

.section-feedback .feedback-u .table-cell{background:url(../img/bg_pink.jpg);text-align:left;}
.section-feedback .feedback-u .corner-top-left{background-image:url(../img/corner_pink_40_top_left.png);}
.section-feedback .feedback-u .corner-top-right{background-image:url(../img/corner_pink_40_top_right.png);}
.section-feedback .feedback-u .corner-bottom-left{background-image:url(../img/corner_pink_40_bottom_left.png);}
.section-feedback .feedback-u .corner-bottom-right{background-image:url(../img/corner_pink_40_bottom_right.png);}

