@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.primary-screen {
	width: 640px;
	height: 960px;
	background: url(../img/bg_primary.jpg) no-repeat;
}
.match-screen {
	width: 640px;
	height: 960px;
	background-image:url(../img/bg.jpg);
    background-repeat:no-repeat;
}

.match-screen .profile-info{padding:170px 20px 10px 220px;}
.match-screen h3{margin:0 0 5px;font-size:30px;line-height:34px;}
.match-screen .age{float:left;padding-right:35px;font-size:24px;line-height:28px;}
.match-screen .address{display:list-item;margin:0 0 0 20px;font-size:24px;line-height:28px;}
.match-dot{
    font-size: 42px;
}
.header-screen {
	height: 130px;
}
.body-screen {
	height: 708px;
}
.footer-screen {
	height: 102px;
	text-align: center;
	font: bold 38px/102px "HelveticaBold", Helvetica, sans-serif;
}
.top-msg {
	float: left;
	margin-left: 397px;
	margin-top: 26px;
	width: 170px;
	font-size: 23px;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
}
.question {
	margin: 20px 8px 0px 40px;
}
.question p {
	font-size: 24px;
	font-weight: bold;
}
.question ul {
	margin-left: 65px;
}
.question li {
	list-style: url(../img/bullet.png);
	font-size: 21px;
}
li.star {
	list-style: url(../img/star_yellow.png);
}
